// SCSS-only values (maps, calculations)
$badge-colors: (
  marketing: #03cea4,
  management: #5a81f7,
  hr: #f89039,
  design: #f52f6e,
  development: #7772f1,
);

$content-max: 1290px;
$grid-gap: 30px;
